.Timer{
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    width: 100dvw;
    height: 100dvh;
    justify-content: center;
    align-items: center
}

.countDown{
    position: relative;
    font-size: 10rem;
    width: 20%;
    text-align: center;
}
.actionButtons{
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    justify-content: space-around;
    align-items: center;
    height: 10%;
    width: 20%;
}
.timerActionButtons{
    height: 3rem;
    width: 6rem;
    border-radius: 10px;
    border: solid grey;
    font-size: 2rem;
    transition: .1s ease-in-out;
}

.timerActionButtons:hover{
    border: solid black;
}