.stopWatch{
    width: 100dvw;
    height:100dvh;
  }
  .stopWatchDisplay{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    height: 50%;
    width: 100%;
    font-size: 4rem;
    justify-content: center;
    align-items: center;
  }
  
  .timeDisplay{
    display: flex;
    flex-flow:row nowrap;
  }
  
  .stopWatchButton{
    display: flex;
    flex-flow:row nowrap;
    position: relative;
    width: 30%;
    height: 50%;
    border-radius: 10px;
    border: solid black 3px;
    font-size: 4rem;
    justify-content: center;
    align-items: center;
  }
  
  .stopWatchButtons{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    height: 50%;
    width: 100%;
  }